.valentine-container {
    text-align: center;
}

.valentine-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
}

.yes-button {
    transition: transform 0.3s ease;
    margin-right: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    border: 1px solid #FFF5EE;
    cursor: pointer;
    background-color: #AA336A;
}

.yes-button:hover {
    background-color: #FFF5EE;
    color: #AA336A;
    border: 1px solid #AA336A;
}

.no-button {
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    border: 1px solid #FFF5EE;
    cursor: pointer;
    background-color: #AA336A;
}

.no-button:hover {
    background-color: #FFF5EE;
    color: #AA336A;
    border: 1px solid #AA336A;
}